body,td,ul,caption,center,form,div,span {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode',Arial,Helvetica,Verdana,sans-serif;
	font-size:14px;
	color: #000;
}

#navi li a {
	color: #000;
}
#navi li a:hover {
	color: #000;
}
#navi li a:visited {
	color: #000;
}

a {
	color: #000;
}
a:visited {
	color: #000;
}
a:active {
	color: #000;
}
a:hover {
	color:#000;
}

.boxtl { 
background:url("/images/schwarz/tl.png") top left no-repeat; 
} 

.boxtr { 
background:url("/images/schwarz/tr.png") top right no-repeat; 
}

.boxbr {
background:url("/images/schwarz/br.png") bottom right no-repeat
}

.boxbl {
background:url("/images/schwarz/bl.png") bottom left no-repeat;
}
