# Eclipse Files
.metadata
RemoteSystemsTempFiles

# Binaries
*.class

# Package Files #
#*.jar
#*.war
#*.ear

# Project Files #
.project
.classpath
.settings/
target/
bin/

# KaroMUSKEL files
cache/
logs/
autosaves/

# sensitive files
login.properties