<Configuration>
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss} %-5p [%t] %C.%M(%L) | %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="STDOUT"/>
    </Root>
    <Logger name="ultimate" level="debug"/>
    <Logger name="ultimate.karoapi4j.utils.ReflectionsUtil" level="info"/>
  </Loggers>
</Configuration>