<Configuration>
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss} %-5p [%t] %C.%M(%L) | %m%n"/>
    </Console>
    <RollingFile name="FILE" fileName="logs/karoraupe.log" filePattern="logs/karoraupe %d{yyyy-MM-dd HH-mm-ss}.log">
      <PatternLayout pattern="%d{HH:mm:ss} %-5p [%t] %C.%M(%L) | %m%n"/>
      <Policies>
        <OnStartupTriggeringPolicy />
      </Policies>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="STDOUT"/>
      <AppenderRef ref="FILE"/> <!-- add this here to have also files written when running the application in eclipse / otherwise use Run Configuration > Classpath > exclude testcode -->
    </Root>
    <Logger name="ultimate" level="info"/>
    <Logger name="ultimate.karoraupe" level="debug"/>
  </Loggers>
</Configuration>