.loader {
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	position: relative;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	width: 400px;
	height: 20px;
}

.loader .title {
	position: absolute;
	left: 0px;
	height: 100%;
	width: 100px;
}

.loader .text {
	position: absolute;
	right: 0px;
	height: 100%;
	width: 100px;
	text-align: right;
}

.loader .bar {
	position: absolute;
	left: 100px;
	height: 100%;
	width: 200px;
	text-align: center;
}

.loader .bar .value,
.loader .bar .background  {
	position: absolute;
	left: 0px;
	height: 100%;
	text-align: center;
}

.loader .bar .background {
	border: 1px solid #333399;
	width: 100%;
}

.loader .bar .value {
	border: 1px solid rgba(0,0,0,0);
	background-color: #333399;
	opacity: 0.5;
}